/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body {
  background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 0;
}

main {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 98vh;
  width: 100vw;
  /* border: 1px solid red; */
  margin: 1vh auto;
}

#middle {
  /* display: flex; */
  justify-content: center;
  width: 480px;
  height: 430px;
  flex-wrap: wrap;
  /* border: 1px solid yellow; */
  margin: 50px auto;
  background-image: url(../images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
}


.top {
  width: 700px;
  height: 150px;
  border: 3px solid hsl(217, 16%, 45%);
  padding: 2% 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}

#rps_image {
  height: 100px;
}


.outerCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.innerCircle {
  display: inline-block;
  width: 150px; /* previously 150px */
  height: 150px; /* previously 150px */
  background: white;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset rgba(0, 0, 0, 0.2) 0px 5px;
  background-size: 75px;
}

.scissors, .rock, .paper {
  cursor: pointer;
}

.scissors {
  margin: auto;
  margin-top: 230px;
}

.scissors .innerCircle {
  background-image: url(../images/icon-scissors.svg);
}

.scissors.outerCircle {
  background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  box-shadow: rgb(200 140 70 / 90%) 0px 5px;
}

.rock {
  float: left;
}

.rock .innerCircle {
  background-image: url(../images/icon-rock.svg);
}

.rock.outerCircle {
  background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  box-shadow: rgb(200 50 70 / 90%) 0px 5px;
   
}

.paper {
  float: right;
}

.paper .innerCircle {
  background-image: url(../images/icon-paper.svg);
}

.paper.outerCircle {
  background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  box-shadow: rgb(50 50 200 / 90%) 0px 5px;
}

#rules {
  position: fixed;
    right: 2%;
    bottom: 2%;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid white;
    background: transparent;
    color: white;
}



#score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: white;
  color: hsl(214, 47%, 23%);
  width: 150px;
  height: 115px;
  text-align: center;
  border-radius: 15px;
  font-size: 2em;
}

#scoreSmall {
  font-size: 0.4em;
  color: hsl(229, 64%, 46%)
}

#scoreLarge {
  display: inline-block;
  width: auto;
  height: 80px;
  font-size: 2em;
  font-weight: 800px;
  color: hsl(229, 25%, 31%);
}

#rulesOverlay {
  display: none;
  background: rgba(211,211,211,15%);
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  height: 35%;
  width: 27%;
  background: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 30%;
  border-radius: 3%;
}

.pSelected, .cSelected {
  display: none;
}

#displayResult {
  /* margin: 0 auto; */
    width: 90vw;
    height: 500px;
    display: none;
    justify-content: space-around;
    align-items: center;
}

#playerSelected, #computerSelected {
  height: 318px;
}

#playerSelected .outerCircle, #computerSelected .outerCircle  {
  width: 250px;
  height: 250px;
}

#playerSelected .innerCircle, #computerSelected .innerCircle {
  width: 200px;
  height: 200px;
}

#playerSelected .scissors, #computerSelected .scissors  {
  margin-top: 0;
}

#winOrLose, #winOrLose_mobile {
  display: none;
  flex-direction: column;
  align-items: center;
}

#youWon, #youLose, #youWon_mobile, #youLose_mobile {
  display: none;
  font-size: 3.5em;
  color: white;
}

#playAgain, #playAgain_mobile {
  width: 220px;
  height: 50px;
  border-radius: 10px;
  color: hsl(229, 25%, 31%);
  font-size: .9em;
  letter-spacing: 2px;
  cursor: pointer;
  margin-top: 20px;
}

.picked {
  color: white;
  text-align: center;
  font-size: 1em;
  margin-bottom: 50px;
  letter-spacing: 2px;
}

@media (min-width: 480px) and (max-width: 720px) {
  .outerCircle, #playerSelected .outerCircle, #computerSelected .outerCircle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .innerCircle, #playerSelected .innerCircle, #computerSelected .innerCircle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: 60px;
  }

  .top, #middle {
    width: 95vw;
  }
}

@media (min-width: 360px) and (max-width: 480px) {
  .outerCircle, #playerSelected .outerCircle, #computerSelected .outerCircle {
    width: 125px;
    height: 125px;
    border-radius: 50%;
  }

  .innerCircle, #playerSelected .innerCircle, #computerSelected .innerCircle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: 60px;
  }


  .top {
    width: 90vw;
    height: auto;
  }

  #rps_image {
    height: 5vh;
  }
  
  #score {
    width: 25vw;
    height: auto;
  }

  #middle {
    width: 90vw;
    height: auto;
    margin: 16vh auto;
  }

  #rules {
    right: auto;
    bottom: 5vh;
    cursor: pointer;
  }

  #rulesOverlay {
    height: 40vh;
    width: 90vw;
  }

  #displayResult {
    width: 95vw;
    height: auto;
    margin: 10vh auto 5vh auto; 
  }

  #playerSelected, #computerSelected {
    width: 45vw;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .picked {
    margin-top: 50px;
  }

  #playerSelected .scissors, #computerSelected .scissors {
    margin: 0;
  }
  
}

@media screen and (max-width: 360px) {
  body {
    width: 400px
  }
}